<!DOCTYPE html>
<html ng-app="myamazonhistory" lang="en">
  <head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="../css/darkly-bootswatch.css" />
    <link rel="stylesheet" href="../css/popup.css" />

    <script src="../js/lib/angular.min.js"></script>
    <script src="../js/lib/angular-ui-router.min.js"></script>
    <script src="../js/app/popup.js"></script>
  </head>
  <body>
    <div class="container" ng-controller="PopupCtrl">
      <div ui-view>TEST</div>
    </div>
  </body>
</html>
